
:root {
	--BG_COLOR: rgb(30, 30, 30);
	--TXT_COLOR: rgb(255, 255, 255);
	--LNK_COLOR: rgb(200, 200, 255);
	--BUTTON_BG: rgb(60, 60, 60);
	--BORDER_COLOR: rgb(255, 255, 255);
	--TXT_FONT: monospace;

}

.Centered {
  margin: auto;
  width: 50%;
  text-align: center
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

textarea {
	background: var(--BG_COLOR);
	color: var(--TXT_COLOR);
	border-block-style: revert
}

a {
	color: var(--LNK_COLOR);
	font-size: 25px;
}

body {
	background: var(--BG_COLOR);
	color: var(--TXT_COLOR);
	font-family: var(--TXT_FONT);
	overflow: hidden;
	margin: 0px 0px;
}

button {
	border-style: solid;
	background: var(--BUTTON_BG);
	color: var(--TXT_COLOR);
	border-color: var(--BORDER_COLOR);
	border-width: 1px;
}

select {
	color: var(--TXT_COLOR);
  background: var(--BG_COLOR);
}
